{% extends "school/base.html" %}
{% load static %}

{% block title %}Список учеников{% endblock %}
{% block content %}
<div class="row">
  <ul>
  {% for student in object_list %}
                <p style="font-size: 20px">Студент:</p>
                <li><p style="font-size: 16px">{{ student.name }} {{ student.group }}</p></li>
                    <p style="font-size: 20px">Преподаватель:</p>
                    {% for teacher in student.teachers.all %}
                        <li>Преподаватель: {{ teacher.name }}  Предмет: {{ teacher.subject }}</li>
                    {% endfor %}<br>
            {% endfor %}
  </ul>
</div>
{% endblock %}
